%table#studentScheduleTable
    %tr
        // %th#specialTableHeader Dept.
        // %th#specialTableHeader Course Num.
        // %th#specialTableHeader Section

        // %th#specialTableHeader{:class => 'tooltip'} 
        //     Mandatory
        //     %span{:id => 'viewScheduleToolTip'} Check if you MUST take the course THIS semester to be on track for graduation.
        // %th#specialTableHeader Day
        // %th#specialTableHeader StartTime
        // %th#specialTableHeader EndTime
        
        %th#specialTableHeader{:class => 'tooltip'} 
            Mandatory
            %span{:id => 'viewScheduleToolTip'} Check if you MUST take the course THIS semester to be on track for graduation.
        %th#specialTableHeader{:class => 'tooltip'} 
            Day
            %span{:id => 'viewScheduleToolTip'} Add your busy time slot for each weekday.
        %th#specialTableHeader{:class => 'tooltip'}  
            StartTime
            %span{:id => 'viewScheduleToolTip'} Add your busy time slot for each weekday - start time(24-Hour_based, Ex. 15:30).
        %th#specialTableHeader{:class => 'tooltip'}  
            EndTime
            %span{:id => 'viewScheduleToolTip'} Add your busy time slot for each weekday - end time(24-Hour_based, Ex. 15:30).
        %th#specialTableHeader{:class => 'tooltip'}  
            Reason
            %span{:id => 'viewScheduleToolTip'} Add your reason for busy time slot. You should type in "Dept-Course Num-Section" such as "CSCE-606-600" for courses or type in "personnal"
    %tr{:class => "sched_table_row"}
        // %td#specialTableData
        //     = collection_select(nil, :dept_id_1,  @subjects,  :id, :subject_code, {:include_blank => true, :selected => @cur_subject.nil? ? nil : @cur_subject[0]}, {:id => 'dept_select_1'})
        // %td#specialTableData
        //     = collection_select(nil, :course_num_id_1, @course_options, :id, :course_number, {:include_blank => true}, {:id => 'course_num_select_1'})
        // %td#specialTableData
        //     = collection_select(nil, :section_num_id_1, @section_options, :id, :course_number, {:include_blank => true}, {:id => 'section_num_select_1'})
        %td#specialTableData
            = check_box_tag :mand_1, 'yes', @cur_mand.nil? ? nil : @cur_mand[0]
        %td#specialTableData
            = collection_select(nil, :day_id_1, @day_options, :to_s, :to_s, {:include_blank => false,:selected => @cur_weekday.nil? ? nil : @cur_weekday[0]}, {:id => 'day_select_1'})
        %td#specialTableData 
            = text_field_tag 'startTime_1', @cur_start_time.nil? ? nil : @cur_start_time[0] , {:size=>6,:placeholder=>"xx:xx"}
        %td#specialTableData 
            = text_field_tag 'endTime_1', @cur_end_time.nil? ? nil : @cur_end_time[0] , {:size=>6,:placeholder=>"xx:xx"}
        %td#specialTableData 
            = text_field_tag 'reason_1', @cur_reason.nil? ? nil : @cur_reason[0] , {:size=>10,:placeholder=>"XXXX-XXX-XXX"}
    %tr{:class => "sched_table_row"}
        // %td#specialTableData
        //     = collection_select(nil, :dept_id_2,  @subjects,  :id, :subject_code, {:include_blank => true, :selected => @cur_subject.nil? ? nil : @cur_subject[1]}, {:id => 'dept_select_2'})
        // %td#specialTableData
        //     = collection_select(nil, :course_num_id_2, @course_options, :id, :course_number, {:include_blank => true}, {:id => 'course_num_select_2'})
        // %td#specialTableData
        //     = collection_select(nil, :section_num_id_2, @section_options, :id, :section_number, {:include_blank => true}, {:id => 'section_num_select_2'})
        %td#specialTableData
            = check_box_tag :mand_2, 'yes', @cur_mand.nil? ? nil : @cur_mand[1]
        %td#specialTableData
            = collection_select(nil, :day_id_2, @day_options, :to_s, :to_s, {:include_blank => false,:selected => @cur_weekday.nil? ? nil : @cur_weekday[1]}, {:id => 'day_select_2'})
        %td#specialTableData 
            = text_field_tag 'startTime_2', @cur_start_time.nil? ? nil : @cur_start_time[1], {:size=>6,:placeholder=>"xx:xx"}
        %td#specialTableData 
            = text_field_tag 'endTime_2', @cur_end_time.nil? ? nil : @cur_end_time[1] , {:size=>6,:placeholder=>"xx:xx"}
        %td#specialTableData 
            = text_field_tag 'reason_2',  @cur_reason.nil? ? nil : @cur_reason[1] , {:size=>10,:placeholder=>"XXXX-XXX-XXX"}
    %tr{:class => "sched_table_row"}
        // %td#specialTableData
        //     = collection_select(nil, :dept_id_3,  @subjects,  :id, :subject_code, {:include_blank => true, :selected => @cur_subject.nil? ? nil : @cur_subject[2]}, {:id => 'dept_select_3'})
        // %td#specialTableData
        //     = collection_select(nil, :course_num_id_3, @course_options, :id, :course_number, {:include_blank => true}, {:id => 'course_num_select_3'})
        // %td#specialTableData
        //     = collection_select(nil, :section_num_id_3, @section_options, :id, :section_number, {:include_blank => true}, {:id => 'section_num_select_3'})
        %td#specialTableData
            = check_box_tag :mand_3, 'yes', @cur_mand.nil? ? nil : @cur_mand[2]
        %td#specialTableData
            = collection_select(nil, :day_id_3, @day_options, :to_s, :to_s, {:include_blank => false,:selected => @cur_weekday.nil? ? nil : @cur_weekday[2]}, {:id => 'day_select_3'})
        %td#specialTableData 
            = text_field_tag 'startTime_3', @cur_start_time.nil? ? nil : @cur_start_time[2] , {:size=>6,:placeholder=>"xx:xx"}
        %td#specialTableData 
            = text_field_tag 'endTime_3', @cur_end_time.nil? ? nil : @cur_end_time[2] , {:size=>6,:placeholder=>"xx:xx"}   
        %td#specialTableData 
            = text_field_tag 'reason_3',  @cur_reason.nil? ? nil : @cur_reason[2] , {:size=>10,:placeholder=>"XXXX-XXX-XXX"}
    %tr{:class => "sched_table_row"}
        // %td#specialTableData
        //     = collection_select(nil, :dept_id_4,  @subjects,  :id, :subject_code, {:include_blank => true, :selected => @cur_subject.nil? ? nil : @cur_subject[3]}, {:id => 'dept_select_4'})
        // %td#specialTableData
        //     = collection_select(nil, :course_num_id_4, @course_options, :id, :course_number, {:include_blank => true}, {:id => 'course_num_select_4'})
        // %td#specialTableData
        //     = collection_select(nil, :section_num_id_4, @section_options, :id, :section_number, {:include_blank => true}, {:id => 'section_num_select_4'})
        %td#specialTableData
            = check_box_tag :mand_4,'yes', @cur_mand.nil? ? nil : @cur_mand[3]
        %td#specialTableData
            = collection_select(nil, :day_id_4, @day_options, :to_s, :to_s, {:include_blank => false,:selected => @cur_weekday.nil? ? nil : @cur_weekday[3]}, {:id => 'day_select_4'})
        %td#specialTableData 
            = text_field_tag 'startTime_4', @cur_start_time.nil? ? nil : @cur_start_time[3] , {:size=>6,:placeholder=>"xx:xx"}
        %td#specialTableData 
            = text_field_tag 'endTime_4', @cur_end_time.nil? ? nil : @cur_end_time[3] , {:size=>6,:placeholder=>"xx:xx"} 
        %td#specialTableData 
            = text_field_tag 'reason_4',  @cur_reason.nil? ? nil : @cur_reason[3] , {:size=>10,:placeholder=>"XXXX-XXX-XXX"}
    %tr{:class => "sched_table_row"}
        // %td#specialTableData
        //     = collection_select(nil, :dept_id_5,  @subjects,  :id, :subject_code, {:include_blank => true, :selected => @cur_subject.nil? ? nil : @cur_subject[4]}, {:id => 'dept_select_5'})
        // %td#specialTableData
        //     = collection_select(nil, :course_num_id_5, @course_options, :id, :course_number, {:include_blank => true}, {:id => 'course_num_select_5'})
        // %td#specialTableData
        //     = collection_select(nil, :section_num_id_5, @section_options, :id, :section_number, {:include_blank => true}, {:id => 'section_num_select_5'})
        %td#specialTableData
            = check_box_tag :mand_5, 'yes', @cur_mand.nil? ? nil : @cur_mand[4]
        %td#specialTableData
            = collection_select(nil, :day_id_5, @day_options, :to_s, :to_s, {:include_blank => false,:selected => @cur_weekday.nil? ? nil : @cur_weekday[4]}, {:id => 'day_select_5'})
        %td#specialTableData 
            = text_field_tag 'startTime_5', @cur_start_time.nil? ? nil : @cur_start_time[4] , {:size=>6,:placeholder=>"xx:xx"}
        %td#specialTableData 
            = text_field_tag 'endTime_5', @cur_end_time.nil? ? nil : @cur_end_time[4] , {:size=>6,:placeholder=>"xx:xx"}
        %td#specialTableData 
            = text_field_tag 'reason_5',  @cur_reason.nil? ? nil : @cur_reason[4] , {:size=>10,:placeholder=>"XXXX-XXX-XXX"}
    %tr{:class => "sched_table_row"}
        // %td#specialTableData
        //     = collection_select(nil, :dept_id_6,  @subjects,  :id, :subject_code, {:include_blank => true, :selected => @cur_subject.nil? ? nil : @cur_subject[5]}, {:id => 'dept_select_6'})
        // %td#specialTableData
        //     = collection_select(nil, :course_num_id_6, @course_options, :id, :course_number, {:include_blank => true}, {:id => 'course_num_select_6'})
        // %td#specialTableData
        //     = collection_select(nil, :section_num_id_6, @section_options, :id, :section_number, {:include_blank => true}, {:id => 'section_num_select_6'})
        %td#specialTableData
            = check_box_tag :mand_6, 'yes', @cur_mand.nil? ? nil : @cur_mand[5]
        %td#specialTableData
            = collection_select(nil, :day_id_6, @day_options, :to_s, :to_s, {:include_blank => false,:selected => @cur_weekday.nil? ? nil : @cur_weekday[5]}, {:id => 'day_select_6'})
        %td#specialTableData 
            = text_field_tag 'startTime_6', @cur_start_time.nil? ? nil : @cur_start_time[5] , {:size=>6,:placeholder=>"xx:xx"}
        %td#specialTableData 
            = text_field_tag 'endTime_6', @cur_end_time.nil? ? nil : @cur_end_time[5] , {:size=>6,:placeholder=>"xx:xx"} 
        %td#specialTableData 
            = text_field_tag 'reason_6',  @cur_reason.nil? ? nil : @cur_reason[5] , {:size=>10,:placeholder=>"XXXX-XXX-XXX"}
    %tr{:class => "sched_table_row"}
        // %td#specialTableData
        //     = collection_select(nil, :dept_id_7,  @subjects,  :id, :subject_code, {:include_blank => true, :selected => @cur_subject.nil? ? nil : @cur_subject[6]}, {:id => 'dept_select_7'})
        // %td#specialTableData
        //     = collection_select(nil, :course_num_id_7, @course_options, :id, :course_number, {:include_blank => true}, {:id => 'course_num_select_7'})
        // %td#specialTableData
        //     = collection_select(nil, :section_num_id_7, @section_options, :id, :section_number, {:include_blank => true}, {:id => 'section_num_select_7'})
        %td#specialTableData
            = check_box_tag :mand_7, 'yes', @cur_mand.nil? ? nil : @cur_mand[6]
        %td#specialTableData
            = collection_select(nil, :day_id_7, @day_options, :to_s, :to_s, {:include_blank => false,:selected => @cur_weekday.nil? ? nil : @cur_weekday[6]}, {:id => 'day_select_7'})
        %td#specialTableData 
            = text_field_tag 'startTime_7', @cur_start_time.nil? ? nil : @cur_start_time[6] , {:size=>6,:placeholder=>"xx:xx"}
        %td#specialTableData 
            = text_field_tag 'endTime_7', @cur_end_time.nil? ? nil : @cur_end_time[6] , {:size=>6,:placeholder=>"xx:xx"}
        %td#specialTableData 
            = text_field_tag 'reason_7',  @cur_reason.nil? ? nil : @cur_reason[6], {:size=>10,:placeholder=>"XXXX-XXX-XXX"}
